#
# * 32bitmicro XINU Makefile rules
# * $URL$
# * $ID$
#
#Copyright (c) 2009, 32bitmicro
#All rights reserved.
#
#Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
#Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
#Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation 
#and/or other materials provided with the distribution.
#Neither the name of the 32bitmicro nor the names of its contributors may be used to endorse or promote products derived from this software without 
#specific prior written permission.
#
#THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
#BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
#SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
#DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
#OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
#NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Project configuration
PROJECT?=XINU
PROJECT_TYPE?=APP
#all: $(PROJECT)

# Host configuration
HOST_OS=cygwin
#HOST_OS=win32
#HOST_OS=linux 


# Target output options
TARGET_GEN_MAP=1
TARGET_GEN_CREF=1
TARGET_GEN_LST=1
TARGET_GEN_HEX=1

# Target platform

#TARGET_PLATFORM=arm
TARGET_PLATFORM=x86

# 32bitmicro configuration and rules
32BITMICRO= /32bitmicro

TARGET_OS=standalone
#TARGET_MCU
#TARGET_CLOCK
# TARGET_SDK
# sets the above
include $(32BITMICRO)/src/xinu/Makefile.rules.target.${TARGET_PLATFORM}


# Target MCU
include $(32BITMICRO)/src/make/Makefile.${TARGET_MCU}

# Target SDK
# Target libc
TARGET_LIBC=nolibc

# Target startup file
#TARGET_STARTUP=
TARGET_STARTUP=default
include $(32BITMICRO)/src/make/Makefile.${TARGET_SDK}

# All rules
#include $(32BITMICRO)/src/make/Makefile.rules

